<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap-theme-min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/fonts/font-awesome-4.3.0/css/font-awesome-min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Middle.css">
  
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.3.min.js"></script>
  <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/Home/js/bootstrap.js"></script>

</head>